.detailcountry {
    /* text-align: center; */
    /* display: inline-block;
    border-color: black solid 1px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;  */
    /* flex-wrap: wrap; */
    /* column-count: 3;
    text-align: justify; */
    /* display: contents; */
    justify-content: center;
    display: flex;
    


}
.left{
    float: left;
    width: 33.3%;
    padding-top: 6vw;
    font-size: x-large;
}

.rigth{
    float: right;
    width: 33.3%;
    padding-top: 6vw;
    text-align: left;
    margin-left: 20px;
}
.center{
   display:inline-block;
   padding-top: 6vw;
}

.ctryact{
    display: flex;
    justify-content: center;
    /* border: black solid 5px; */
}
.name{
    display: inline;
}