.Nav {
    position: absolute;
    display: flex;
    background-color: #9fe2bf;
    border-radius: 20px;
    justify-content: space-evenly;
    height: 60px;
    width: 98%;
    top: 0;
    left: 0;
    margin: 12px;
}

.Title {
    font-family: Pokemon;
    font-size: 65px;
    color: white;
    letter-spacing: 0;
    transition: transform .2s;
    text-shadow: -3px -3px 3px black, 3px -3px 3px #6495ED, -3px 3px 3px #6495ED, #6495ED 3px 3px 3px ;
}

.Title:hover {
    transform: scale(1.25)
}

